<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= isAdmin ? 'Admin' : 'User' %> Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>


    <div class="overlay"></div>
    <form action="<%= isAdmin ? '/admin/login' : '/login' %>" method="POST">
        <h2><%= isAdmin ? 'Admin' : 'User' %> Login</h2>
        <% if (locals.error) { %>
            <div class="error-message"><%= error %></div>
        <% } %>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <script>
        function reloadPage() {
            setTimeout(function() {
                location.reload();
            }, 60000); // 5000 milliseconds = 5 seconds
        }
        reloadPage();
    </script>
</body>
</html>
